.cointainer {
  background-color: rgba(0, 128, 128, 0.473);
  padding: 20px 80px;
  border-radius: 40px;
}

h1 {
  color: white;
  font-size: 55px;
  margin: 5px;
}

.containerButton {
  display: inline-block;
}

button {
  background-color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background-color: rgb(43, 43, 43);
  color: white;
  cursor: pointer;
}

.triBruxo {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.character {
  background-image: url("../../img/bgPaper.png");
  background-size: 130px;
  background-repeat: no-repeat;
  width: 110px;
  height: 140px;
  font-size: 18px;
  padding: 10px;
}

h2,
h3 {
  font-size: 60%;
  margin: 5px auto;
}

img {
  height: 60%;
  border-radius: 25px;
}

.triwizardCup {
  background-image: url("../../img/TriwizardCup.jpg");
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 60px;
  box-shadow: 10px 10px 77px 0px rgba(0, 174, 255, 1);
  margin: 0 auto;
}
