.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("https://www.andrezadicaeindica.com.br/wp-content/uploads/2018/01/resources_digitalassets_The-Nighttime-Lights-at-Hogwarts-Castle.jpg");
  background-position: center;
}
